body {
    --cs-base00: 24, 24, 24;
    --cs-base01: 40, 40, 40;
    --cs-base02: 56, 56, 56;
    --cs-base03: 88, 88, 88;
    --cs-base04: 184, 184, 184;
    --cs-base05: 216, 216, 216;
    --cs-base06: 232, 232, 232;
    --cs-base07: 248, 248, 248;
    --cs-base08: 171, 70, 66;
    --cs-base09: 220, 150, 86;
    --cs-base0A: 247, 202, 136;
    --cs-base0B: 161, 181, 108;
    --cs-base0C: 134, 193, 185;
    --cs-base0D: 124, 175, 194;
    --cs-base0E: 186, 139, 175;
    --cs-base0F: 161, 105, 70;

    --cs-bg: var(--cs-base07);
    --cs-fg: var(--cs-base02);
    --cs-a: 252, 179, 73;
    --cs-aa: 13, 58, 158;
}